PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"

# OpenAPIのドキュメントのBASIC認証情報
SWAGGER_USER=
SWAGGER_PASSWORD=

# gemini api key
GEMINI_API_KEY=
# youtube data apiを使うのに必要
YOUTUBE_API_KEY=

# 任意の長いランダム文字列（例: openssl rand -hex 32 で生成）
JWT_SECRET=
